#car-link {
    position: absolute;
    right: 70px;
    font-weight: bold;
}

#owner-link {
    position: absolute;
    right: 5px;
    font-weight: bold;
}

#car-owners-link {
    position: absolute;
    right: 135px;
    font-weight: bold;
}